.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a:hover{
  text-decoration: line-through;
  text-emphasis-color: white;
}

/* ==================================
  Welcome Section
================================== */

/* Navbar */
.navbar{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#WelcomeSection{
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-image: url(https://i.pinimg.com/originals/cc/22/ed/cc22ed3fd773ea8877a1f30163c8e636.png);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  visibility: inherit;
  padding:50px;
  color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.WelcomeTitle{
  color:white;
  font-weight: bold;
  font-size: 65px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.WelcomeSubTitle{
  color:#6e91ff;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headerText{
  font-size: 65px;
}

header{
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

header video{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
  height:70%;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.grid-container {
display: grid;
grid-template-columns: auto auto auto;
/*background-color: #2196F3;*/
padding: 10px;
}

.grid-item {
/*background-color: rgba(255, 255, 255, 0.8);*/
/*border: 1px solid rgba(0, 0, 0, 0.8);*/
padding: 20px;
/*font-size: 30px;*/
/*text-align: center;*/
}

.iconColored{
background-color: white; /* defines the background color of the image */
mask: url(https://www.flaticon.com/svg/static/icons/svg/984/984196.svg);/* no-repeat center / contain;*/
-webkit-mask: url(https://www.flaticon.com/svg/static/icons/svg/984/984196.svg);/* no-repeat center / contain;*/
}

.skillIcon img{
background-color: transparent;
margin-top: 0;
position: relative;
top: 20px;
z-index: 20;
display: block;
text-align: center;
width: 110px;
height: 60px;
margin: 0px auto 25px;
}

/* ==================================
  About Me
================================== */

#AboutMe{
  padding: 40px;
  background: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.image-cropper {
  object-fit: cover;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: inline;
}
.profile-pic {
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

/* ==================================
  Skills
================================== */

#Skills{
  background: #6e91ff;
  padding: 30px;
  color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ==================================
  Footer
================================== */

#footer{
  background:#474545;
  padding: 15px;
}

.Footer{
  color:whitesmoke;
  bottom:0;
  left: 0;
  right:0;
}

/* ==================================
  Utilities
================================== */

.scrollTop {
  position: fixed; 
  width: 100%;
  bottom: 20px;
  left:190vh;
  align-items: center;
  height: 50px;
  justify-content: right;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.8;
  padding: 20px;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}


/* ====== Testing Area ======  */

/* ==================================
  Container
================================== */

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* ==================================
  Left Column
================================== */

.left-column {
  background-color: #ffffff;
  box-shadow: 0 0 6px 0 hsla(0, 0%, 0%, 0.2);
  /* box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2); */
  padding: 30px;
}

/* Tittle */
.tittle-container {
  margin: 10px auto 30px auto;
}

.tittle {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  color: #38436b; 
  font-weight: bold;
}

.subtitle {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;  
  color: #c1c5dc;
}

/* Contact Form*/
.contact-form {
  padding: 0 10px;
}

/* Form */
.col-form-label {
  font-size: 0.9rem;
}

.form-control-sm {
  /*border-radius: 0;*/
}

/* Button */
.btn-submit {
  text-align: center;
  background-color: #6e91ff;
  color: #ffffff;
  font-size: 0.9rem;
  text-transform: none;
  transition: background-color .8s;
  border-radius: 25px;
}

.btn-submit:hover {
  background-color: lightgreen;
  -webkit-transition: background-color .8s;
  -moz-transition: background-color .8s;
  -o-transition: background-color .8s;
  -ms-transition: background-color .8s;
  transition: background-color .8s;
}

/* ==================================
  Right Column
================================== */

.right-column {
  background-color: #6e91ff;
  box-shadow: 0 0 6px 0 hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  color: #ffffff;
}

/* Contact Info */
.contact-info {
  margin-bottom: 50px;
  padding-left: 30px;
}

.contact-info h3{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 50px auto 30px auto;
  font-weight: bold;
}

/* Social Icons */
.social {
  color: #ffffff;
}

.iconn {
  color: #ffffff;
  margin: auto 10px;
}

/* ==================================
  Responsive
================================== */

@media screen and (max-width: 576px) {
  .container {
      margin-top: 0;
      margin-bottom: 0;
  }
}

* {
  box-sizing: border-box;
}


